<main>
  <div class="cont">
    <div class="MuralDiv">
      <h4 class="headCont">Mural de Hinos</h4>
      <hr>
      <a target="blank" class="hinos" href="https://www.youtube.com/watch?v=wSKKEAnLTDw">Domingo 20/03 - Ousado amor</a>
      <a target="blank" class="hinos" href="https://www.youtube.com/watch?v=YudXB8MZRTs&ab_channel=GabrielGuedes">Domingo 27/03 - Ele Vem</a>
      <a target="blank" class="hinos" href="https://www.youtube.com/watch?v=rUEHHCk54cQ&ab_channel=MKMUSIC">Domingo 04/03 - Fogo que Consome</a>
    </div>
  </div>
</main>